#header {
  background-color: #20c997;
  color: white;
  font-size: 16px;
  padding-top: 15px;
}

#content {
  padding-top: 20px;
}

#error {
  padding-bottom: 15px;
  background-color: #fc858b;
  color: #870006;
}

#registered {
  padding-bottom: 15px;
  background-color: #9bd69a;
  color: #003500;
}

#menu {
  text-align: right;
}

#book_page #book_data {
  margin-top: 20px;
}

#go_back_link {
  margin-bottom: 10px;
}

#go_back_link:hover {
  color: blue;
  text-decoration: underline;
}

#title {
  font-size: 18px;
  font-weight: 600;
}
