<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flack Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js" rel="javscript" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,400|Roboto+Condensed|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" type="text/css">
    <script src="/static/js/channel.js" type="text/javascript" rel="javascript"></script>
  </head>
  <body>
    <h1>{{ channel }}</h1>
    <div id="messages_container">
      {% for message in messages %}
        <p>{{ message[0] }}{{ message[1] + " - " }}{{ message[2] }}</p>
      {% endfor %}
    </div>
    <div id="new_message">
      <input type="text" placeholder="Write new message" id="message">
      <button id="send_message">Send</button>
    </div>
  </body>
</html>
