<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flack Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,400|Roboto+Condensed|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" type="text/css">
    <link rel="icon" type="image/icon" href="static/icon.ico">
    <script src="/static/js/script.js" type="text/javascript" rel="javascript"></script>
  </head>
  <body>
    <div id="sign_in">
      <div class="content">
        <div class="row" id="header">
          <div class="col">
          </div>
          <div class="col-3 self-align-center">
            <h1>Flack</h1>
            <h3>chat</h3>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row" id="main">
          <div class="col">
          </div>
          <div class="col-5-auto self-align-center">
              <div class="form-g">
                <label>screename central</label>
                <input type="text" placeholder="sn plz" id="sn_input" />
              </div>
              <div class="form-g">
                <label>pick an avatar</label>
                <div id="emoji_menu">
                  <input type="checkbox" name="eGroup" value="&#128293;" id="e1" />
                  <label class="emoji" id="fire" for="e1">
                    &#128293;
                  </label>
                  <input type="checkbox" name="eGroup" value="&#129412;" id="e2" />
                  <label class="emoji" id="unicorn" for="e2">
                    &#129412;
                  </label>
                  <input type="checkbox" name="eGroup" value="&#127857;" id="e3" />
                  <label class="emoji" id="bento" for="e3">
                   &#127857;
                 </label>
                 <input type="checkbox" name="eGroup" value="&#127955;" id="e4" />
                  <label class="emoji" id="pingpong" for="e4">
                   &#127955;
                 </label>
                 <input type="checkbox" name="eGroup" value="&#128756;" id="e5" />
                  <label class="emoji" id="scooter" for="e5">
                   &#128756;
                 </label>
                 <input type="checkbox" name="eGroup" value="&#127956;" id="e6" />
                  <label class="emoji" id="mountain" for="e6">
                   &#127956;
                 </label>
                 <input type="checkbox" name="eGroup" value="&#127881;" id="e7" />
                  <label class="emoji" id="party" for="e7">
                   &#127881;
                 </label>
                 <input type="checkbox" name="eGroup" value="&#128522;" id="e8" />
                  <label class="emoji" id="smiles" for="e8">
                  &#128522;
                  </label>
                </div>
              </div>
              <div>
                <form>
                  <button id="go">GO</button>
                </form>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    <div id="main_channel_list">
      <ul id="channel_list">
      </ul>
    </div>
  </body>
</html>
